@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #313131;
    color: #B9B9B9;
}

*::-webkit-scrollbar {
    width: 5px;
  height: 8px;
  background-color: #aaa; 
}

*::-webkit-scrollbar-thumb {
  background: #131313;
};